:root {
  --gray-border: 1px solid #e5e9eb;
  --blue: #3593f9;
  --gray: #e5e9eb;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 1550px;
  margin: 0 auto;
}

.nav,
main {
  display: flex;
}

.nav {
  gap: 15px;
}

h1 {
  margin-top: 25px;
}

.logo-wraper,
.left-div {
  padding: 15px;
  width: 80px;
  border-right: var(--gray-border);
  border-bottom: var(--gray-border);
}

.left-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.logo,
.search-div {
  padding: 6px 14px;
  border-radius: 50%;
  background-color: var(--blue);
  display: inline-block;
  font-size: 24px;
  color: #fff;
}

.search-div {
  padding: 6px 13px;
  border-radius: 5px;
}

.menu-btn {
  background: none;
  border: none;
}

.main-div {
  width: calc(100% - 80px);
  border-top: var(--gray-border);
  padding: 20px;
}

.indicators,
.indicators-input,
.all-and-timer,
.all,
.timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.indicators-input,
.all,
.timer {
  gap: 5px;
  border: var(--gray-border);
  padding: 6px 10px;
  border-radius: 8px;
}

.indicators-input input {
  border: none;
  height: 25px;
}

.all-and-timer {
  gap: 10px;
}

.all-and-timer .all button {
  border: none;
  background: none;
  color: var(--blue);
  transform: rotate(180deg);
  font-size: 20px;
}

.stages {
  margin-top: 25px;
  display: flex;
  gap: 15px;
  align-items: start;
}

.stage {
  width: 400px;
}

.stages .new .stage-title {
  background: var(--blue);
}

.stages .workpiece .stage-title {
  background: #f8c51b;
}

.stages .ready .stage-title {
  background: #22c348;
}

.stages .onTheWay .stage-title {
  background: #1ac19d;
}

.stage-title {
  padding: 15px;
  border-radius: 8px 8px 0 0;
  color: #fff;
}

.orders {
  padding: 15px;
  background: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 0 0 8px 8px;
}

.order {
  width: 100%;
  background: #fff;
}

.title-of-order,
.title-id,
.title-descriptions,
.status-changer {
  display: flex;
  align-items: center;
}

.title-of-order {
  width: 100%;
  padding: 10px 10px;
  justify-content: space-between;
  border-bottom: var(--gray-border);
}

.title-id {
  font-size: 15px;
  gap: 7px;
}

.title-descriptions {
  gap: 10px;
}

.title-descriptions img {
  margin-top: 3px;
}

.products {
  padding: 10px 10px;
  border-bottom: var(--gray-border);
}

.products h4 {
  margin-bottom: 21px;
  font-size: 16px;
  font-weight: 500;
}

.products h4 p {
  font-size: 15px;
  margin-left: 23px;
  font-weight: 400;
  color: gray;
}

.watch-later-time {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
}

.watch-later-time img {
  margin-top: 3px;
}

.status-changer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 10px;
  gap: 10px;
}

.status-changer button {
  border-radius: 8px;
  border: none;
  padding: 8px 10px;
  font-size: 17px;
}

.cancel-btn,
.get-order-btn {
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.status-changer .cancel-btn {
  color: red;
  border: var(--gray-border);
  background-color: #fff;
}

.get-order-btn {
  color: #fff;
  background: var(--blue);
}

.status-changer .ready-btn {
  width: 100%;
  background: #fff;
  color: var(--blue);
  border: 2px solid var(--blue);
}

.searchedOrder {
  width: 400px;
  border: var(--gray-border);
}
